@import './base.css';
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}
button[type=button]{
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    border: none;
}

button.button-active{
    background-color: #2d69e8;
    color: white;
    transition: all 0.3s cubic-bezier(.26,.88,.82,.19);
}
button.button-active:hover {
     background-color: #0d3383;
}
button.button-active:focus,
button.button-active:focus-visible{
             background-color: #0d3383;
             -webkit-box-shadow: inset 0 0 0 1px #0d3383;
             box-shadow: inset 0 0 0 2px #0d3383;
}
button.button-transparent{
    background-color: rgba(1,1,1,0);
    color: black;
 }
button.button-transparent:hover{
    background-color: #cacaca;
    color: #2d69e8;
}

.button-select{
    border-radius: 6px;
    border: 1px solid #5470c6;
    color:#5470c6;
    background-color: #fff;

}
.button-select:hover svg g {
    fill: white;
}
.button-select:hover,.button-select:focus{
    background-color: #5470c6;
    color: #fff;
    transition: all 0.3s ease-in;
}
.button-select.active{
    color: #fff;
    background-color: #5470c6;
}


.button.button-blocked{
    pointer-events: none !important;
    position: relative;
}
.button-blocked::after{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgb(190 190 190 / 50%);
    border-radius: 6px;
}
.default-text{
    display: flex;
    align-items: center;
    justify-content: center;
}
