@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500;600;800&display=swap');
/* semantic color variables for this project */
:root {
  --color-grey:#b0aaac;
  --color-grey-hover: #948f92;
  --color-grey-light:#eae9ef;
  --color-grey-card:#fefdfe;
  --color-white:#ffffff;
  --color-black:#181818;
  --color-black-soft: #222222;
  --color-black-mute: #282828;

  --color-accent-1: #0F62FE;
  --color-accent-2: #1D9FE7;
  --color-accent-3: #87CFFF;
  --color-white-hover:rgba(255,255,255,0.8);
  --color-green:hsla(160, 100%, 37%, 1);
  --color-green-hover:hsla(160, 100%, 37%, 0.8);
  --color-red: rgba(239, 32, 32,1);
  --color-red-hover: rgba(239, 32, 32,0.8);
}



body {
  min-height: 100vh;
  color: var(--color-black);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Golos Text',Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
